
@{
    ViewBag.Title = "Index";
}

<h2>Login</h2>

<form>
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Username</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter username">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                <input type="password" class="form-control" id="exampleFormControlTextarea1" placeholder="Enter password" />
            </div>
            <button type="submit" class="btn btn-lg btn-success">Login </button>
        </div>
        <div class="col-md-4"></div>
    </div>
    
</form>